.tabs-wrapper {
    display: flex;
    justify-content: center;
}

.tabs {
    width: 720px;
    display: flex;
    padding-bottom: 1rem;
    gap: 1rem;
    justify-content: start;
}

.tab {
    padding: 0.5rem 0;
    border: none;
    border-radius: 0;
    color: var(--title-color);
    font-size: 1.5rem;
    font-weight: bold;
    transition: color 0.3s ease;
    text-transform: capitalize;

    &:hover {
        color: var(--primary-color);
    }
}

.tab--active {
    border-bottom: 1px solid var(--primary-color);
}