:root {
	--layout-width: 1216px;
	--header-menu-gap: 2.5rem;
	--card-border: 0.75rem;
	--header-height: 3.875rem;
	--main-page-header-top: 3.5rem;

	--posts-grid-col: repeat(3, minmax(0, 1fr));

	--primary-color: #4b6bfb;
	--primary-color-rgb: 75, 107, 251;
	--secondary-900: #141624;
	--secondary-700: #DCDDDF;
	--secondary-600: #3b3c4a;
	--secondary-500: #696a75;
	--secondary-400: #97989f;
	--white-color: #ffffff;

	--border-color-200: #dcdddf;
	--border-color-100: #e8e8ea;

	--tag-color: rgb(64, 64, 64);
	--title-color: #181a2a;
	--background-color: #ffffff;

	--input-background: #f4f4f5;
	--author-card-bg: #F6F6F7;
	--card-background: #ffffff;
	--footer-links-color: #3b3c4a;
	--bg-btn-hover: #97989f20;
	--tag-hover-bg: #f4f4f5;
	--error-color: #e96c5e;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


html,
body {
	font-family: "Work Sans", sans-serif;
	background-color: var(--background-color);
	height: 100%;
	font-size: 1rem;

	&.dark {
		--secondary-900: #ffffff;
		--secondary-700: #242535;
		--secondary-600: #ffffff;
		--title-color: #ffffff;
		--background-color: #181a2a;
		--input-background: #242535;
		--author-card-bg: #242535;
		--card-background: #181a2a;
		--border-color-100: #37373a92;
		--footer-links-color: #BABABF;
	}
}

::-webkit-scrollbar {
	width: .5rem
}

::-webkit-scrollbar-track {
	background-color: var(--background-color);
}

::-webkit-scrollbar-thumb {
	background: var(--secondary-500);
	border-radius: .4rem;
}

::-webkit-scrollbar-thumb:hover {
	opacity: 0.6;
}

a {
	text-decoration: none;
}

h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

.wrapper {
	background-color: var(--background-color);
}

.logo > path {
	fill: var(--secondary-900);
}

.container {
	max-width: var(--layout-width);
	width: 100%;
	margin: 0 auto;
}
