.list {
    list-style: none;
    overflow-y: scroll;
    padding: 0;
    margin: 0;
}

.list-item {
    position: relative;
}

.item-content {
    display: flex;
    justify-content: start;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
}