.tabs {
	position: sticky;
	top: var(--header-height);
	z-index: 20;
	background-color: var(--background-color);
}

.tabs-container {
    display: flex;
    justify-content: center;
	border-bottom: 1px solid var(--secondary-700);
}

.tabs-row {
	width: 720px;
}

.tab {
	padding: 0.5rem 0;
	margin-left: 1rem;
	border: none;
	border-radius: 0;
	color: var(--title-color);
	font-size: 1.2rem;
	text-transform: capitalize;

	&:hover {
		color: var(--primary-color);
	}
}

.tab--active {
	position: relative;
	border-bottom: 1px solid var(--primary-color);
	color: var(--primary-color);
	bottom: -1px;
}
