.last-comment {
    display: block;
    padding: 0 .5rem;
    margin-bottom: 1rem;

    &:hover .comment-text {
        opacity: 0.8;
    }
}

.comment-text {
    color: var(--secondary-400);
    font-size: 1rem;
    line-height: 1.2rem;
    transition: opacity .3s ease;
    overflow: hidden;
    margin-bottom: .5rem;
    margin-top: .5rem;
}

.comment-date {
    color: var(--secondary-500);
    font-weight: 400;
    font-size: .75rem;
}