.checkbox {
    display: flex;
    align-items: center;
}

.checkbox-button {
    width: 1.2rem;
    height: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
}

.checkbox-icon {
    size: .5rem;
    fill: var(--primary-color);
}

.checkbox-label {
    margin-left: .5rem;
}

.checkbox--default {
    color: #a1a1aa;
	border: none;
	background-color: var(--input-background);
}

.checkbox--bordered {
    color: #a1a1aa;
	border: 1px solid var(--border-color-100);
	background-color: var(--background-color);
}