.button {
    padding: 0.75rem 1.25rem;
    background-color: transparent;
    color: #696A75;
    border: none;
    font-size: 1rem;
    cursor: pointer;

    &:focus-visible {
        outline: var(--primary-color) solid 1px;
    }
}